# IntelliJ IDEA
.idea/
*.iml
*.iws
*.iws.*
*.ipr

# Visual Studio Code
.vscode/
.history/
.cache/

# Compiled bytecode
/target/

# IDE-specific files
.shelf/
/workspace.xml

# Other common ignores
.classpath
.project
.settings/
