<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Books</title>
    <!--* Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" rel="stylesheet">

    <!--*Local Stylesheet -->
    <link rel="stylesheet" th:href="@{style.css}">

    
    <!-- Tab Icon -->
    <link rel="icon" href="./images/icon-tab.png">
</head>

<body class="body_main">

    <div class="header">

        <img src = "./images/header-banner.png" width = "275px">

        <!-- *Logout Button -->
        <form method="post" th:action="@{/userlogout}">
            <button class="button-outlined-white" type="submit">LOG OUT</button>
        </form>
    </div>
    <!-- TODO add user name as welcome message -->
    <div class="main-body">
        <br>
        <div class="table-card">


            <table class="table_main">
                <tr>
                    <th class="table-header ">Title&nbsp;</th>
                    <th class="table-header ">Author&nbsp;</th>
                    <th class="table-header ">Genre&nbsp;</th>
                    <th class="table-header ">Available&nbsp;</th>
                </tr>
                <tr class="table-divider"></tr>
                <tr th:each="u: ${books}">
                    <td class="table-items" th:text="${u.title}"></td>
                    <td class="table-items" th:text="${u.author}"></td>
                    <td class="table-items" th:text="${u.genre}"></td>
                    <td class="table-items" th:class="${u.isAvailable} ? 'yes-color' : 'no-color'"
                        th:text="${u.isAvailable} ? 'yes' : 'no'"></td>
                    <td class="table-items">
                        <form method="post" th:action="@{/books/borrow}">
                            <input name="_method" type="hidden" value="PATCH" />
                            <input name="bookId" th:value="${u.id}" type="hidden" />
                            <button type="submit" class="button-outlined-blue">Borrow</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>



        <br>
        <div class="table-title">
            <h2>MY BOOKS</h2>
        </div>

        <div class="table-card">

            <table class="table_main">
                <tr>
                    <th class="table-header">Title&nbsp;</th>
                    <th class="table-header">Author&nbsp;</th>
                    <th class="table-header">Genre&nbsp;</th>
                </tr>
                <tr class="table-divider"></tr>

                <tr th:if="${borrowedBook != null}">
                    <td class="table-items" th:text="${borrowedBook.title}"></td>
                    <td class="table-items" th:text="${borrowedBook.author}"></td>
                    <td class="table-items" th:text="${borrowedBook.genre}"></td>
                    <td class="table-items">
                        <form method="post" th:action="@{/books/return}">
                            <input name="_method" type="hidden" value="PATCH" />
                            <input name="bookId" th:value="${borrowedBook.id}" type="hidden" />
                            <button type="submit" class="button-outlined-blue">Return</button>
                        </form>
                    </td>

                </tr>

            </table>

        </div>

        <br>

        <form method="post" th:action="@{/userdelete}">
            <input name="_method" type="hidden" value="DELETE" />
            <button class="button-outlined-red" type="submit">Close Account</button>
        </form>
    </div>
    <footer>
        <h1 class="white-text">Bookkeeper</h1>
        <h3 class= "white-text italic">Explore by reading!</h3>
    </footer>

</body>

</html>