<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Edit Book</title>
    
    <!--*Local Stylesheet -->
    <link rel="stylesheet" th:href="@{style.css}">

    
    <!-- Tab Icon -->
    <link rel="icon" href="./images/icon-tab.png">
</head>

<body class="body_main">

    <p class = "no-color"> PLACEHOLDER PAGE TO ALLOW FOR EDITING BOOKS  </p>
    <!--TODO create proper design-->
    <div class="container-fluid">
        <section class="text-center mt-5">
            <form method="post" th:action="@{/admin/editbook}">
                Title: <input name="title" th:value="${title}" type="text" /><br />
                Author: <input name="author" th:value="${author}" type="text" /><br />
                Genre <input name="genre" th:value="${genre}" type="text" /><br />
                <input name="bookId" th:value="${bookId}" type="hidden" /><br />
                <button class="btn btn-info" type="submit">Save</button>
            </form>
        </section>
    </div>
</body>

</html>